body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 20px 40px;
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.nav-left, .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.main-title {
    text-align: center;
}

.main-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.top-info-bar {
    width: 90%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 30px auto 0;
    box-sizing: border-box;
    position: relative;
  }
  

.info-box {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border: 2px solid $green-color;
    font-family: "Graduate", serif;
}

.system-name {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 60px;
    border: 2px solid $green-color;
    font-family: "Graduate", serif;
    max-width: 400px;
    white-space: nowrap;
}

#map {
    width: 85%;
    height: 85%;
    background-color: $bg-color;
    border: 1px solid #555;
    margin-top: 50px;
    max-width: 1400px;
}